<hr/>

<!-- Menu start -->			
  <div class="side">
		<p><a href="/">Home</a></p>
		<p><a href="/AptGet">apt-get</a></p>
		<p><a href="/Ruby">Ruby</a></p>
		<p><a href="/RubyGems">RubyGems</a></p>
		<p><a href="/RailsInstallation">Rails Installation</a></p>
		<p><a href="/RailsUsage">Rails Usage</a></p>
		<p><a href="/RailsDeployment">Rails Deployment</a></p>
		<p><a href="/MysqlGui">MySQL GUI</a></p>
		<p><a href="/Mysql">MySQL</a></p>
		<p><a href="/MysqlDump">MySQL Dump</a></p>
		<p><a href="/Dbf">dbf</a></p>
		<p><a href="/Apache">Apache</a></p>
		<p><a href="/Shapefiles">Shapefiles</a></p>
		<p><a href="/Linux">Linux / vi</a></p>
		<p><a href="/Xml">XML</a></p>
		<p><a href="/Ubuntu">Ubuntu</a></p>

	</div> <!-- close side -->
	<!-- Menu end -->
    <div class="pad">
