<%= render :partial => 'header' %>
<h1>SoilML Client</h1>

		<form name="formMapit1" method="get" action="/Client/Owner">
			Soil Data URL<textarea name="SoilDataURL" rows="1" cols="30">http://localhost/SoilData/Owner</textarea><br/>
			<input type="submit" value="View">
		</form>

<%= render :partial => 'footer' %> 
